@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

body {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--text-primary-color);
}

.app {
  min-height: 100vh;
}
